.contenedores{
  display: flex;
  gap: 17vw;
  margin: 80px;
  margin-bottom: 28px;
  width: 1vw;
  height: 62vh;
}
.contenedores-principal{
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 /0.47);
}
.contenedor-tickets{
    font-family: Roboto, sans-serif;
    color:white;
    font-weight: bold;
}
.contenedor-texto-tickets{
    text-align: center;
    font-size: 6rem;
    line-height: 6.5rem;
}
.contenedor-cantidad-tickets{
    text-align: center;
    font-size: 10.1rem;
    padding-bottom: 2rem;
    line-height: 2.5rem;
}
.contenedorpequeno{
  width: 20rem;
  height: 4rem;
  margin: 0 75rem;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(0 0 0 /0.47);
}

.contendorpequeno-texto{
  display: flex;
  font-weight: bold;
  text-align: center;
  font-size: 1rem;
  line-height: 1rem;
  color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
  }
  
  #logo {
    float: left;
  }
  
  #nav ul {
    list-style-type: none;
    margin: 0;
    padding: 50px;
    display: flex;
    font-size: 2rem;
    padding-right: 1.5rem;

  }
  
  #nav ul li {
    margin: 0 10px;
  }
  
  #nav ul li a {
    display: block;
    color: #333;
    text-align: center;
    text-decoration: none;
  }
  
  .home {
    background-color: black;
    color:white;
    font-weight: bold;
    border-radius: 10px;
    padding: 5px 10px;
  }

  .img {
    padding-left: 5rem;
    height: 5rem; /* establece la altura de la imagen a 50 píxeles */
    width: auto; /* ajusta el ancho de la imagen de manera proporcional a su altura */
    border: none; /* elimina el borde alrededor de la imagen */
  }

  .Contenedorizq {
    flex: 1;
    align-items: center;
    justify-content: center;
    background-color: rgb(0 0 0 /0.47);

  }
  .imgizq {
    padding-top: 75px;
    padding-right: 4.4rem;
    height: 25rem; /* establece la altura de la imagen a 50 píxeles */
    width: auto; /* ajusta el ancho de la imagen de manera proporcional a su altura */
    border: none; /* elimina el borde alrededor de la imagen */
  }