.Test{
    display: flex;
    gap: 8vw;
    padding-top: 10vh;
    margin-bottom: 8vh;
    width: 40vw;
    height: 50vh;
}
.contenedor-restante-tiempo{
    text-align: center;
    font-size: 85px;
    line-height: 85px;
}