/* Historial.css */

.historial {
    margin: 10px;
  }
  
  .contenedores {
    display: flex;
    gap: 10vw;
    padding-top: 5vh;
    margin-bottom: 5vh;
    width: 20vw;
    height: 30vh;
    position: relative;
  }
  .circle {
    width: 700px;
    height: 700px;
    border-radius: 50%;
    background-color: rgb(194,161,183);
    overflow: hidden;
    position: absolute;
    z-index: -1;
    transform: translateX(-45%);
  }
  .contenedor-historial-izq{
    flex-basis: 48%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    padding: 20px;
    width: 38vw;
    height: 30vh;
    left: 5vw;
    background: rgba(0, 0, 0, 0.47);
    border-radius: 33px;
    border: none;
  }
  .contenedor-historial-der {
    flex-basis: 48%;
    border: 1px solid #ccc;
    box-sizing: border-box;
    position: absolute;
    padding: 20px;
    width: 38vw;
    height: 30vh;
    left: 55vw;
    background: rgba(0, 0, 0, 0.47);
    border-radius: 33px;
    border: none;
  }
  
  .contenedor-izq-head,
  .contenedor-der-head {
    display: flex;
    justify-content: center; 
    text-align: center;
    align-items: center;
    margin-bottom: 10px;
    background: #0B5B74;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
  }

  .contenedor-izq-head p,
  .contenedor-der-head p {
    font-family: Roboto, sans-serif;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    font-weight: bolder;
  }
  
  .contenedor-día {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    line-height: 28px;

    color: #FFFFFF;
  }
  
  .contenedor-izq-imagenes,
  .contenedor-der-imagenes {
    display: flex;
    justify-content: space-between;
  }
  
  .imgizq1,
  .imgcentr1,
  .imgder1,
  .imgizq2,
  .imgcentr2,
  .imgder2,  
  .imgizq3,
  .imgcentr3,
  .imgder3,
  .imgizq4,
  .imgcentr4,
  .imgder4 {
    width: 180px;
    height: 120px;
    padding: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 20%;
  }
  
  .contenedor-izq-descripcion,
  .contenedor-der-descripcion {
    display: flex;
    justify-content: space-between;
  }
  .descripcion-izq-texto-desayuno, 
  .descripcion-der-texto-desayuno {
    margin-top: 5px;
    margin-left: 60px;
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 17px;
    line-height: 18px;
    text-align: center !important; 
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .descripcion-izq-texto-almuerzo, 
  .descripcion-der-texto-almuerzo {
    margin-top: 5px;
    margin-right: 15px;
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 17px;
    line-height: 18px;
    text-align: center !important; 
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .descripcion-izq-texto-cena, 
  .descripcion-der-texto-cena {
    margin-top: 5px;
    margin-right: 80px;
    font-family: Roboto, sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 17px;
    line-height: 18px;
    text-align: center !important; 
    text-decoration: none;
    color: #FFFFFF;
  }
  
  .descripcion-izq-texto-desayuno:hover,
  .descripcion-izq-texto-almuerzo:hover,
  .descripcion-izq-texto-cena:hover,
  .descripcion-der-texto-desayuno:hover,
  .descripcion-der-texto-almuerzo:hover,
  .descripcion-der-texto-cena:hover {
    text-decoration: none;
  }
  