.Overlay {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top:0;
    left:0;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
  }

.ContenedorModal {
    display: flex;
    gap: 17vw;
    width: 850px;
    height: 500px;
    background: rgba(11, 91, 116, 100);
    position: relative;
    border: 6px solid white;
    padding: 0px;
}

.BotonCerrar {
    position: absolute;
    top: 16px;
    right: 16px;
    width: 35px;
    height: 35px;
    border: none;
    background: none;
    cursor: pointer;
    transition: 0.3s case all;
    border-radius: 5px;
    color: #000;
}
  
.BotonCerrar:hover {
    background: rgba(255, 255, 255, 0.2);
}
  
.BotonCerrar svg {
    width: 100%;
    height: 100%;
}
  
.Contenido {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    padding-top: 80px;
}

#imgSad {
    position: absolute;
    top: 0;
    left: 0;
    width: 230px;
    height: 500px;
}

.Contenido h1 {
    text-align: center;
    font-size: 55px;
    font-weight: bold;
    margin-left: 310px;
    margin-bottom: 55px;
    color: #fff;
}
  
.Contenido p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin-left: 310px;
    margin-bottom: 16px;
    color: #fff;
}
  
.contenido button {

    border: none;
    background: none;
}